fastapi
uvicorn[standard]
python-multipart
torch
torchvision
pillow
scikit-learn==1.8.0
pandas
joblib
sqlalchemy
psycopg[binary]
pgmpy
pytest
reportlab
python-dotenv
PyJWT
bcrypt>=4.0
email-validator
numpy
firebase-admin
gunicorn
